.AppTop{
  flex:1;
}

/* Header */
.headerMain{
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  height: 60px;
  background-color: white;
}

.headerMain .arrowDown{
  width:30px;
  height:30px;
}

.headerMain .inputClass{
  flex:1;
  height: 35px;
  margin-left: 10px;
  border-color:beige;
}

::-webkit-input-placeholder {
  color:lightgray;
  font-size: 18px;
}




/* Body */
.bodyMain{
  flex: 1;
  background-color: white;
}

.todo-list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo-list li .view{
  /* display: none; */
  /* bottom: 10px; */
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  justify-content: center;
  /* background-color: aqua; */
  align-items: center;
}

.todo-list li .toggle{
  height: 40px;
  width: 40px;
  position: absolute;
  /* background-color: blue; */
  appearance: none;
}

.todo-list li .completed label{
  color: #d9d9d9;
  text-decoration: line-through;
}

.todo-list li label {
	word-break: break-all;
	padding: 15px 15px 15px 60px;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
}

.todo-list li.completed label {
	color: #d9d9d9;
	text-decoration: line-through;
}

.todo-list li .toggle + label {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center left;
}

.todo-list li .toggle:checked + label{
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

/* Bottom */
.bodyBottom{
  height: 50px;
  background-color: cadetblue;
  display: flex;
  justify-content:space-around;
  align-items: center;
}